<a href="https://colab.research.google.com/github/seyeon0815/Project/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World

In [ ]:
print("Hello, World!")

Hello, World!

# 주석 처리
-코드 작업 시 특정 코드에 대해 설명
-사용자 정의 함수 작성 시, 클래스 작성 시..(도움말 작성)

In [ ]:
#한 줄 주석 처리
'''
여러 줄 주석 처리가 가능
'''

print("Hello, World!")

Hello, World!

# 변수 (scalar)
- 객체(object)로 구현이 됨
 + 하나의 자료형(Type)을 가진다. (이것만 기억!)
 + 클래스로 정의가 됨.
 - 다양한 함수들이 존재 함.

## int
- int 정수를 표현하는 데 사용함.

In [ ]:
# 데이터 전처리..
# 데이터 전처리를 잘해야 분석도 잘함, 예측 모형도 잘 만듬
# 데이터 전처리를  잘하기 위해서는 기초문법이 중요함.

num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

## float
- 실수를 표현하는데 사용한다.

In [ ]:
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

## bool
- True와 False로 나타내는 Boolean 값을 표현하는데 사용한다,

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

## None
- Null을 나타내는 자료형으로 None이라는 한 가지 값만 가집니다.

In [ ]:
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

# 사칙연산
- 정수형 사칙 연산

In [ ]:
a = 3
b = 4
print('a + b = ', a + b)
print('a * b =', a * b)
print('a / b =', a / b) #실수형, 나누기를 했을 때 class가 달라진다
print('a // b =', a // b) #몫 구하기
print('a % b =', a % b) #나머지 구하기
print('a ** b =', a ** b) #제곱

a + b =  7
a * b = 12
a / b = 0.75
a // b = 0
a % b = 3
a ** b = 81

## 실수형 사칙연산

In [ ]:
a = 4.0
b = 4.0
print('a + b = ', a + b)
print('a * b =', a * b)
print('a / b =', a / b) #실수형
print('a // b =', a // b) #몫 구하기
print('a % b =', a % b) #나머지 구하기
print('a ** b =', a ** b) #제곱

a + b =  8.0
a * b = 16.0
a / b = 1.0
a // b = 1.0
a % b = 0.0
a ** b = 256.0

# 논리형 연산자
- Bool 형은 True와 False 값으로 정의
- AND / OR

In [ ]:
x = 5 > 4
# print(x)
y = 3 > 4
# print(y)

print(x and x)
print(x and y)
print(y and x)
print(y and y)
print("----")
print(x or x)
print(x or y)
print(x or y)
print(y or x)
print(y or y)

True
False
False
False
----
True
True
True
True
False

# 비교 연산자
- 부등호를 의미합니다.
- 비교 연산자를 True와 False 값을 도출

## 논리 & 비교 연산자 응용

In [ ]:
var = input("입력하여 주세요...")
print(type(var))

입력하여 주세요...123
<class 'str'>

- 항변환을 해준다.
- 문자열,정수,실수 등

In [ ]:
print(type(1))
var = int("1") #문자열 앞에 int를 써주면 숫자형으로 바뀐다
print(type(var))

<class 'int'>
<class 'int'>

In [ ]:
var = int(input("숫자를 입력하여 주세요"))
print(type(var))

숫자를 입력하여 주세요1
<class 'int'>

In [ ]:
num1 = int(input("숫자를 입력하여 주세요"))
num2 = int(input("숫자를 입력하여 주세요"))
num3 = int(input("숫자를 입력하여 주세요"))
num4 = int(input("숫자를 입력하여 주세요"))

var1 = num1 >= num2 #True
var2 = num3 < num4 #True
print(var1 and var2)
print(var1 or var2)

숫자를 입력하여 주세요5
숫자를 입력하여 주세요2
숫자를 입력하여 주세요3
숫자를 입력하여 주세요4
True
True

# 변수 (Non Scalar)
- 문자열을 입력

In [ ]:
print("'Hello, World'")
print('"Hello, World"')

'Hello, World'
"Hello, World"

In [ ]:
print('Hello World')

Hello World

## String 연산자
- 덧셈 연산자를 써보자
- print(str1 + str2 + num1) #문자열과 숫자열 함께 사용x

In [ ]:
str1 = "Hello "
str2 = "World! "
num1 = 1
print(str1 + str2)

Hello World!

- 곱셈 연산자를 사용해본다.

In [ ]:
greeting = str1 + str2
print(greeting * 3)

Hello World! Hello World! Hello World!

## Indexing
- 문자열 인덱싱은 각각의 문자열 안에서 범위를 지정하여 특정 문자를 추출한다.
-H부터 0,1,2,3,4,5,6번째(공백도 세야 함)

In [ ]:
greeting = "Hello Kaggle!"
print(greeting[6])

K

In [ ]:
# 슬라이싱
- 범위를 지정하고 데이터를 가져온다.

In [ ]:
greeting 

print(greeting[:])
print(greeting[6:]) #print(greeting[시작인덱스:끝인덱스])
print(greeting[:6])
print(greeting[3:8]) #끝인덱스의 -1만큼만 추출됨
print(greeting[0:9:2]) #2칸 뛰고

Hello Kaggle!
Kaggle!
Hello
lo Ka
HloKg

In [ ]:
greeting[13]

IndexError: ignored

# 리스트
- 시퀀스 데이터 타입
- 데이터에 순서가 존재하냐! 슬라이싱이 가능해야 함
- 대괄호('[값1,값2,값3]')

In [ ]:
a = [] #빈 리스트
a_func = list() #빈 리스트 생성
b = [1] #숫자가 요소가 될 수 있다.
c = ['apple'] #문자열도 요소가 될 수 있다.
d = [1, 2, ['apple']] #리스트 안에 또 다른 리스트를 요소로 넣을 수 있다.

print(a)
print(a_func)
print(b)
print(c)
print(d)

print(type(d))

[]
[]
[1]
['apple']
[1, 2, ['apple']]
<class 'list'>

# 리스트 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a)
print(a[3])
print(a[6:])
print(a[:5])
print(a[3:5])
print(a[1:9:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
[7, 8, 9, 10]
[1, 2, 3, 4, 5]
[4, 5]
[2, 4, 6, 8]

In [ ]:
a = [["apple", "banana", "cherry"], 1]
print(a[0])
print(a[1])
print(a[0][2])
print(a[0][0][4])
print(a[0][2][2])
print(a[0][2][-4])

['apple', 'banana', 'cherry']
1
cherry
e
e
e

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(a)
print(a[::-1]) #역순
print(a[::2])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

## 리스트 연산자

In [ ]:
a = ["seyeon","mihyung"]
b = ["jinwoo","seongho"]

c = a + b
print(c)

['seyeon', 'mihyung', 'jinwoo', 'seongho']

In [ ]:
c = a * 3
d = b * 0
print("a * 3 = ", c)
print("b * 0 = ", d)

a * 3 =  ['seyeon', 'mihyung', 'seyeon', 'mihyung', 'seyeon', 'mihyung']
b * 0 =  []

# 리스트 수정 및 삭제

In [ ]:
a = [0, 1, 2]
a[1] = "b"
print(a) #객체 저장

[0, 'b', 2]

### 리스트 값 추가하기

In [ ]:
a = [100, 200, 300]
a.append(400)
print(a) #자동 저장

a.append([500, 600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
a = [100, 200, 300]
a.append(400)
print(a) #자동 저장

a.extend([500, 600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 500, 600]

In [ ]:
a = [0, 1, 2]
#a.insert(인덱스 번호, 넣고자 하는 값)
a.insert(1, 100)
print(a)

[0, 100, 1, 2]

# 리스트 값 삭제하기

In [ ]:
a = [4, 3, 2, 1,"A"]
a.remove(1) #리스트 안에 있는 값을 삭제
print(a)
a.remove("A")
print(a)

[4, 3, 2, 'A']
[4, 3, 2]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del a[1] #인덱스 번호
print(a)

del a[1:5]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 7, 8, 9, 10]

In [ ]:
b = ["a", "b", "c", "d"]
x = b.pop() #인덱스를 지정하지 않으면 마지막 숫자/기호 삭제
print(x)
print(b)

d
['a', 'b', 'c']

## 그 외 메서드

In [ ]:
a = [0, 1, 2, 3]
print(a)

a.clear()
print(a)

[0, 1, 2, 3]
[]

In [ ]:
a = [1, "a", "a", "b", "b"]
print(a.index("b")) #b가 언제 등장하는지
print(a.index("a"))

3
1

In [ ]:
a = [1, 4, 5, 2, 3]
b = [1, 4, 5, 2, 3]

a.sort()
print("sort(): ",a) #올림차순

#내림차순, sort()
b.sort(reverse=True)
print("sort(reverse=True): ", b)

sort():  [1, 2, 3, 4, 5]
sort(reverse=True):  [5, 4, 3, 2, 1]

In [ ]:
c = [4, 3, 2, 'a']
c.sort() #숫자와 알파벳 중 크기를 정할 수 없음

TypeError: ignored

# 튜플
- List와 비슷하다.
- 슬라이싱, 인덱싱 등등
- 차이점은(vs 리스트) : 튜플은 수정, 삭제가 안된다.

In [ ]:
tuple1 = (0) #끝에 콤마(,)를 붙이지 않을 때 --> int
tuple2 = (0,) #끝에 콤마 붙일 때 --> tuple
tuple3 = 0, 1, 2
print(tuple1)
print(tuple2)
print(tuple3)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
a = (0, 1, 2, 3, 'a')
print(type(a))

b= list(a)
print(b)
b[1] = "b"

a = tuple(b)
print(a)
#del a[4] #error = tuple은 수정,삭제가 안된다

<class 'tuple'>
[0, 1, 2, 3, 'a']
(0, 'b', 2, 3, 'a')

#튜플 인덱싱 및 슬라이싱 하기

In [ ]:
a = (0, 1, 2, 3, 'a')
print(a[1])
print(a[3])
print(a[4])

1
3
a

## 더하기 곱셈 연산자 사용

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print(t1 + t2)
print(t1 * 3)
print(t1 * 0)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
()

#딕셔너리
- key-value 값으로 나뉨.

In [ ]:
dict_01 = {'teacher' : 'seyeon',
           'class' : 601,
           'students' : 24,
           '학생이름' : ['A', 'Z']}
print(dict_01)
print(dict_01['teacher'])
print(dict_01['class'])
print(dict_01['학생이름'])

{'teacher': 'seyeon', 'class': 601, 'students': 24, '학생이름': ['A', 'Z']}
seyeon
601
['A', 'Z']

In [ ]:
print(type(dict_01.keys()))
print(list(dict_01.keys()))
print(dict_01.keys())

<class 'dict_keys'>
['teacher', 'class', 'students', '학생이름']
dict_keys(['teacher', 'class', 'students', '학생이름'])

In [ ]:
print(dict_01.values())

dict_values(['seyeon', 601, 24, ['A', 'Z']])

In [ ]:
dict_01.items()

dict_items([('teacher', 'seyeon'), ('class', 601), ('students', 24), ('학생이름', ['A', 'Z'])])

In [ ]:
print(dict_01.get("teacher", "값 없음"))
print(dict_01.get("선생님", "갑 없음"))
print(dict_01.get("class"))
# print(dc_01['선생님'])

seyeon
None
601

# 조건문 $ 반복문

##조건문

In [ ]:
#날씨가 맑다 --> 우산을 안 가져간다.
#날씨가 흐리다 --> 우산을 챙긴다.

weather = "맑음"
if weather == "비" : #조건식 True가 나오면
  print("우산을 가져간다.")
else:
    print("우산을 가져가지 않는다.")

우산을 가져가지 않는다.

- 등급표 만들기
- 60점 이상 합격/ 불합격
- 숫자는 아무거나 써도 상관없음

In [ ]:
score = 70

if score >= 60 :
  print("합격")
else: 
  print("불합격")

합격

In [ ]:
score = int(input("숫자를 입력하여 주세요..."))

if score >= 60 :
  print("합격")
else: 
  print("불합격")

숫자를 입력하여 주세요...20
불합격

In [ ]:
#90점 이상은 A등급
#80점 이상은 B등급
#나머지는 F등급
#if-elif-else

score = int(input("숫자를 입력하여 주세요.."))
if score >= 90 :
  print("A등급")
elif score >= 80 :
  print("B등급")
else:
  print("F등급")

숫자를 입력하여 주세요..30
F등급

##반복문

In [ ]:
for i in range(3):
  print(i + 1, "안녕하세요!")

1 안녕하세요!
2 안녕하세요!
3 안녕하세요!

In [ ]:
count = range(3)
print(count)

for n in count:
  print(str(n + 1) + "번째")
if (n + 1) == 5:
  print("그만합시다!!")
   break

  print("축구 슈팅")

IndentationError: ignored

In [ ]:
a = "hello"

for x in a:
  if x == "1":
    break
  print(x)

h
e
l
l
o

- 반복문 작성 방식이 여러가지임 zip, range, enumerate, len, etc

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
  print(index, value)

0 A
1 B
2 C